/* #region Base */
body {
  font-family: Poppins, sans-serif;
  background-color: #fff;
  color: #22343d;
  line-height: 1.625;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

/* #endregion */

/* #region Common */
.section {
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.default-btn {
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  height: 53px;
  background: #02897a;
  border: none;
}

.litle-title {
  font-size: 16px;
  font-weight: 600;
}

.title {
  font-weight: 700;
  font-size: 32px;
}

.title-accent {
  display: block;
  margin-top: 8px;

  margin-bottom: 25px;
}
/* #endregion */

/* #region Header */
.logo {
  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-logo {
  margin-right: 237px;
}

.header {
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: 73px;
}

.header-nav-list {
  display: flex;
  gap: 30px;
}

.header-nav-item {
}

.header-nav-link {
  display: block;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0px;
}

.current {
  font-weight: 600;
}

.header-btn-list {
  display: flex;
  gap: 21px;
}

.header-btn-item {
}

.header-btn {
  font-weight: 600;
  text-align: center;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  background-color: transparent;
}

.header-btn:focus,
.header-btn:hover {
  color: #fff;
  background: #02897a;
  border: none;
}
/* #endregion */

/* #region Hero */
.hero {
  padding-top: 25px;
  padding-bottom: 100px;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-wrapper {
  margin-right: 35px;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.55;
  margin-bottom: 45px;
}

.hero-list-btn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-item-btn {
}

.hero-btn {
  min-width: 178px;
}

.btn-link {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;
  gap: 9px;
}

.hero-play-btn-icon {
  fill: #02897a;
}

.hero-img {
}
/* #endregion */

/* #region Specification */
.specification {
}

.specification-container {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specification-title {
  text-align: center;
  margin-bottom: 50px;
}

.specification-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.specification-item {
  width: calc((100% - 3 * 30px) / 4);
  margin-bottom: 50px;
}

.specification-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.specification-text {
}

.specification-btn {
  min-width: 175px;
  text-transform: uppercase;
}
/* #endregion */

/* #region Management */
.management {
  padding-top: 50px;
  padding-bottom: 100px;
}

.management-container {
  display: flex;
  align-items: center;
}

.management-wrapper {
  margin-right: 84px;
}

.management-title {
}

.management-text {
  margin-bottom: 30px;
}

.management-list {
}

.management-item:not(:last-child) {
  margin-bottom: 25px;
}

.management-subtitle {
  font-weight: 600;
  margin-bottom: 12px;
}

.management-item-text {
}

.management-img {
}

/* #endregion */

/* #region Support */
.support {
  padding-bottom: 100px;
}

.support-container {
  display: flex;
  align-items: center;
}

.support-img {
  margin-right: 84px;
}

.support-wrapper {
}

.support-title {
}

.support-text {
  margin-bottom: 30px;
}

.support-list {
}

.support-item:not(:last-child) {
  margin-bottom: 25px;
}

.support-item-text {
}
/* #endregion */

/* #region Collaboration */
.collaboration {
  margin-bottom: 150px;
}

.collaboration-container {
  display: flex;
  align-items: center;
}

.collaboration-wrapper {
  margin-right: 84px;
}

.collaboration-title {
}

.collaboration-text {
  margin-bottom: 30px;
}

.collaboration-list {
}

.collaboration-item:not(:last-child) {
  margin-bottom: 12px;
}

.collaboration-subtitle {
  margin-bottom: 12px;
}

.collaboration-item-text {
}

.collaboration-img {
}
/* #endregion */

/* #region Staff */
.staff {
  padding-bottom: 106px;
}

.staff-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.staff-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}

.staff-text {
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
  text-align: center;
  color: #2f281e;
}

.staff-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 25px;
  margin-bottom: 50px;
}

.staff-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc((100% - 100px) / 2);
}

.staff-item:nth-child(even) {
  justify-content: left;
}

.staff-item:nth-child(odd) {
  justify-content: right;
}

.staff-img {
  width: 98px;
}

.staff-text-wrapper {
  width: 300px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.staff-item-text {
  display: flex;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  width: 281px;
  height: 50.1px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.staff-btn {
  min-width: 216px;
  height: 53px;
}
/* #endregion */

/* #region Strategies */
.strategies {
  padding-bottom: 171px;
}

.strategies-container {
}

.strategies-title {
  font-size: 34px;
  margin-bottom: 10px;
}

.title {
}
.strategies-text {
  font-weight: 500;
  display: block;
  width: 465px;
  margin-bottom: 40px;
}
.strategies-card-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.strategy-card {
  border: 1px solid #dedede;
  border-radius: 8px;
  width: calc((100% - 2 * 30px) / 3);
  overflow: hidden;
}

.card-text {
  padding: 24px 27px 40px;
}

.strategy-img {
  width: 100%;
  height: 185px;
}

.strategy-text {
  margin-bottom: 12px;
}

.strategy-accent-word {
}

.strategy-subtitile {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66;
}

.strategy-card:hover .strategy-subtitile,
.strategy-card:focus .strategy-subtitile {
  color: #02897a;
}
/* #endregion */

/* #region Price Table */
.price {
  padding-bottom: 100px;
  text-align: center;
}
.price-container {
}
.price-title {
  font-size: 34px;
}
.price-text {
  font-weight: 500;
  margin-bottom: 40px;
}
.price-cards-list {
  display: flex;
  flex-direction: row;
  gap: 72px;
}
.price-card {
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 2 * 72px) / 3);
}

.price-card:hover,
.price-card:focus {
  background-color: #02897a;
  color: #fff;
}

.price-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  margin-bottom: 8px;
}
.price-card-text {
  font-family: "Montserrat", sans-serif;
  line-height: 2.5;
  margin-bottom: 16px;
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 16px;
}

.price-card-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  color: #02897a;
  margin-right: 7px;
}

.price-card:hover .price-card-price,
.price-card:focus .price-card-price {
  color: #fff;
}
.right-subwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-dollar {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}

.price-card:hover .card-dollar,
.price-card:focus .card-dollar {
  color: #fff;
}

.price-card-pm {
  font-family: "Montserrat", sans-serif;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
}

.price-card:hover .price-card-pm,
.price-card:focus .price-card-pm {
  color: #e0e0e0;
}

.price-card-includes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}
.card-include {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0.01em;
}
.price-card-btn {
  border: none;
  border-radius: 8px;
  min-width: 139px;
  min-height: 44px;
  background: #02897a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.price-card:hover .price-card-btn,
.price-card:focus .price-card-btn {
  color: #02897a;
  background-color: #fff;
}
/* #endregion */

/* #region Overview */
.overview {
  padding-bottom: 100px;
}
.overview-container {
}
.overview-title {
  line-height: 1.78125;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  text-align: center;
}
.overview-text {
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 40px;
}
.overview-list {
  display: flex;
  flex-direction: row;
  gap: 64px;
}
.overview-item {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 30px 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 2 * 64px) / 3);
}
.overview-item-text {
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  margin-bottom: 16px;
}

.overview-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.overview-img {
  margin-right: 14px;
  border-radius: 100%;
  stroke-width: 1px;
  stroke: #bdbdbd;
}

.overview-right-subwrapper {
}
.overview-client-name {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.overview-client-profession {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.01em;
  color: #252b42;
}
/* #endregion */

/* #region Bunner */
.bunner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bunner-container {
  padding-bottom: 100px;
}
.bunner-wrapper {
  border-radius: 32px;
  background: #02897a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  max-width: 968px;
  margin: 0 auto;
}

.bunner-left-wrapper {
  padding-left: 51px;
  padding-bottom: 56px;
  padding-top: 49px;
}

.bunner-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  margin-bottom: 46px;
  width: 510px;
}

.bunner-btn {
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  background: #fff;
  border-radius: 8px;
  min-width: 150px;
  height: 50px;
  outline: transparent;
  border: transparent;
}
.bunner-img {
}
/* #endregion */

/* #region Footer */
.footer {
}
.container {
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding-bottom: 23px;
}
.left-footer-wrapper {
  margin-right: 146px;
}
.logo {
}
.footer-logo {
  margin-bottom: 18px;
}
.logo-icon {
}
.footer-socials-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.footer-social-item {
}
.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #edfffc;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-icon {
  fill: transparent;
  stroke: #02897a;
}
.footer-left-center-wrapper {
  margin-right: 129px;
}
.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.footer-resource-list {
}
.footer-resource-item {
}
.footer-resource-link,
.footer-staff-link {
  line-height: 2.1875;
  color: #22343d;
}
.footer-right-center-wrapper {
  margin-right: 83px;
}
.footer-staff-list {
}
.footer-staff-item {
}
.footer-right-wrapper {
  width: 325px;
}

.form-title {
  margin-bottom: 30px;
  text-transform: lowercase;
}
.footer-form {
}
.footer-form-label {
}
.footer-input-wrap {
  position: relative;

  margin-bottom: 25px;
}
.footer-form-input {
  width: 325px;
  height: 48px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  padding: 10px 12px 10px 42px;
}
.footer-form-input::placeholder {
  color: #02897a;
}
.footer-input-icon {
  fill: #02897a;

  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}
.footer-form-btn {
  min-width: 131px;
  min-height: 39px;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;

  border-radius: 4px;
  background: #02897a;
  outline: transparent;
  border: transparent;
}

.footer-bottom {
  padding-bottom: 40px;
}
.footer-make-text {
  line-height: 1.875;
}

/* #endregion */
